[2015-09-20 17:56] pliablepixels opened #1 "Occasional problem with height"
Hello, first off, thank you for this lovely plugin. I am facing an occasional problem with height calculation -- once in a while and very randomly, the pullup bar when tapped goes beyond the height of the content window. I have not specified a max-height and according to your code, it auto calculates the height -- what is confusing me is that it only happens once in a while - and I can't seem to p

[2015-09-20 17:57] pliablepixels opened #2 "Allows expressions to max-height"
A useful feature would be to be able to add an expression to maxHeight. Since it is an attribute, expressions don't get evaluated

[2015-09-20 23:17] arielfaur commented on #1
Hi! I haven't been able to test on iOS9 yet, so cannot confirm this yet. My problem is I recently upgraded my iPhone 5 to iOS9 and I am now unable to deploy to iOS on Mavericks. I will need to update OSX and Xcode first :(
As soon as I do that I will run some test and get back to you.

[2015-09-21 16:02] pliablepixels opened #3 "magnifying glass callout appears on iOS"
Hello, I am facing an issue where if you long press on any area in the pullup window (but not inside the list inside the content), a callout window appears.

Here is a screenshot

I tried adding
```<div style="-webkit-user-select:none;-webkit-user-callout:none">```
around the pullup call, but that did not help either

![img_2329](https://cloud.githubusercontent.com/assets/4116654/9997160/a922af30-

[2015-09-21 16:27] arielfaur commented on #3
Right! I see it now. I have no idea how to disable it. Any hints?

[2015-09-21 16:37] pliablepixels commented on #1
Okay, I found out why this is happening. Here is an easy way to replicate this:

a) Invoke the pullup in portrait mode
b) Rotate the screen to horizontal so the orientation change event occurs
c) switch app to background
d) bring  app to foreground
e) tap on pullup in portrait mode and you will see the bar goes beyond the content screen

The problem is that in your computation, headerHeight return

[2015-09-21 16:45] arielfaur commented on #1
You read my mind. I was about to write whether it was related to screen orientation. As you see in the code, I need to set a timeout before recomputing heights on screen rotation. This is needed because ```window.innerHeight``` is not updated immediately with the new values. We may need to increase the timeout to 1 sec.  That really sucks, but you can give it a try.

[2015-09-21 16:47] pliablepixels commented on #3
Not yet. I've been trolling stackOverflow - it seems this is what is called a 'callout' that can be disabled by ```'-webkit-user-callout': 'none','-webkit-user-select':'none'``` but I haven't gotten it working yet

[2015-09-21 16:49] pliablepixels commented on #1
@arielfaur the issue however is window.innerHeight is correct - it is headerHeight that returns 0

[2015-09-21 17:28] arielfaur commented on #1
Ok, I finished the upgrade to Xcode 7. Now I can debug. Will get back to you later.

[2015-09-21 21:10] arielfaur commented on #1
I cannot reproduce your issue. I am testing on iOS9 and it seems to work fine when I switch apps and rotate the device as you suggested. Have you found anything else?

[2015-09-21 21:11] arielfaur commented on #1
One thing I'd like to fix is the flashing whenever the device is rotated, but that is unfortunately a WebKit bug as I need set a timeout to compute heights.

[2015-09-22 15:17] pliablepixels commented on #1
That's odd. I can replicate that 100% of the time. I've hardcoded header = 64 (as my app always shows the header) and the problem has gone away, so it looks in that situation https://github.com/arielfaur/ionic-pullup/blob/master/dist/ion-pullup.js#L23 returns null so it takes the headerHeight at 0.

When you say 'flashing' what do you mean? What I noticed is that when you rotate, the pullup does m

[2015-09-22 15:27] arielfaur commented on #1
Yeah, that's what I meant with flashing, sorry (it expands and then collapses to accommodate to the new screen). But that's the result of the ```computeHeights``` function and the timeout set.

I am trying once again to replicate your issue. So do you first rotate the device and then send the app to the background, or do you rotate it after bringing the app to the foreground? I followed your steps

[2015-09-22 16:43] pliablepixels commented on #1
I created a video for you (its in 3 parts as Quick time does not allow for recording the phone when you rotate)

1. Using the app in portrait  mode - everything great
2. Switching app to landscape mode - everything great
3. Move to background and resume -- headerHeight becomes 0 and remains at 0 till I kill and restart

https://www.youtube.com/watch?v=QIn76JgQWZs&list=PLNjE3bH-2rZKOoFCz4csn8zYA7pm

[2015-09-22 18:59] arielfaur commented on #1
I swear I've tried every possible combination and still can't see the issue on my device. I am using the following parameters as you suggested:
[code]
I wonder now what could cause different behavior on different devices. I am running iOS9 on and iPhone 5C.

[2015-09-22 19:04] pliablepixels commented on #1
Okay, so I know the problem, but I don't know enough to fix it. Here is the analysis:

This is not an IOS9 problem. It happens for me in Android too (4.2, Galaxy S2). I think it depends on how the app is written and how heavy it is - you may not be seeing this with just the pullup code because everything is rendering within the right time for it to compute

Here is what is happening (and this is m

[2015-09-23 14:33] arielfaur commented on #1
The moment you mentioned the Galaxy S2 I remembered I had one too somewhere around the house. I tested your use case and I can see the odd behavior as soon as you bring the app back to the foreground. I will try to find the reason why ```headerHeight``` has the wrong value.

[2015-09-23 16:42] arielfaur commented on #1
@pliablepixels I think I've found a fix for this issue. Could you please check out this version?
https://github.com/arielfaur/ionic-pullup/blob/fix-orientation-issue/dist/ion-pullup.js

Let me know if this version solves the issue. I've tested on my S2 and iPhone 5.  I have also reduced the timeout to 300 ms for a better user experience. Wish I could get rid of it completely but it won't work.

[2015-09-23 19:18] pliablepixels commented on #3
I can confirm this is an IOS9 only bug. It's UIWebView is ignoring the CSS fix that should be disabling this callout. To fix this, your users can install this plugin which patches UIWebview to ignore long press detection https://github.com/EddyVerbruggen/cordova-plugin-ios-longpress-fix. Fortunately adding this fix does _not_ interfere with ionic's own long press detection, so it does not lose fun

[2015-09-23 19:18] #3 closed

[2015-09-23 19:31] pliablepixels commented on #1
@arielfaur unfortunately this does not fix it. I've fixed the problem but it looks like your repo is not accepting Pull requests

Here is the summary of the problem: I've implemented pin authentication for my app. Any time the app resumes from the background, I use ``$state.go`` to force the user to go to a state authentication view and go back to the previous view. The state authentication view d

[2015-09-24 16:55] #1 closed

[2015-09-27 14:47] pliablepixels opened #5 "Solving the "flickering" problem while changing orientation"
@arielfaur, the reason that flickering is happening when we change orientation is that the "300ms ease-in out" transition is still in effect. The solution might be to make that transition "none" during orientation change and re-enable it on expand. I'll submit a PR with this code for you to look at. It works on my iOS and Android device and seems to eliminate the flickering problem

[2015-12-20 11:14] kevincobain2000 opened #8 "Feature Request - Pull Down?"
I thought it'd be cool to have two together on a page, one  ionic-pullup like now and ionic-pulldown from the top to bottom.
Any thoughts on doing such?

[2015-12-22 21:32] arielfaur commented on #8
Hmmm... I am not sure if it's a good idea since the pull down gesture is used by the pull-to-refresh component in Ionic (http://ionicframework.com/docs/api/directive/ionRefresher)

[2015-12-23 06:22] kevincobain2000 commented on #8
makes sense. thanks
anyways I saw that you have a sidebar. I ll use that!!
https://github.com/arielfaur/ionic-sidetabs

[2015-12-23 06:22] #8 closed

[2015-12-23 16:07] AdrienDC opened #9 "Android 4.1.1 content display issue"
Hi,
somehow for Android 4.1.1, content is not showing except if a ion content is placed in the ion-pull-up content but the display is not really great...
Also at the bottom the the pull up is collapsed, only the arrow is shown, not the css component.

Thanks

[2015-12-23 16:24] arielfaur commented on #9
Are you using Crosswalk in your project?

[2015-12-23 17:10] AdrienDC commented on #9
Not yet because it's heavy for testing but I'll give a try, it should be better indeed.

[2015-12-23 17:12] arielfaur commented on #9
Both the pull-up and sidetabs components require crosswalk on Android
versions below 4.4 (KitKat)
On Dec 23, 2015 14:11, "AdrienDC" <notifications@github.com> wrote:

[2015-12-23 17:15] AdrienDC commented on #9
A good workaround was to put a <ion-pane> in the pullup content

[2015-12-23 17:15] AdrienDC commented on #9
Ah ok, Thanks for your help @arielfaur

[2015-12-23 17:15] #9 closed

[2016-01-07 08:34] AdrienDC opened #10 "pull up go beyong the tab bar"
Hi,
I have a totally random issue with is coming when I click on the footer pullup. It is expanding most of the time correctly but it happens that it may go beyond the tab menu which make me impossible to collapse it afterwards.

Anyone has experienced the same thing?

Thanks

[2016-01-07 15:22] arielfaur commented on #10
Can you maybe post your code or upload it to codepen?

[2016-01-08 08:26] AdrienDC commented on #10
I can't reproduce it on a codepen or in ionic serve, it's only happening randomly on device. I'll take a screenshot next time I got it.

[2016-01-08 08:32] AdrienDC commented on #10
![screenshot_2016-01-08-16-28-00-412](https://cloud.githubusercontent.com/assets/15973554/12193690/acc50fd8-b5ea-11e5-9277-fddb8e7ad028.jpeg)
![screenshot_2016-01-08-16-28-07-044](https://cloud.githubusercontent.com/assets/15973554/12193691/acc6e9ac-b5ea-11e5-8b64-12e369b43631.jpeg)

[2016-01-11 16:37] jaarong opened #11 "Collapse in code?"
Sorry if this is a simpleton question, but I'm trying to collapse the bar after the user hits a button within the content of the pull-up bar.  Is there a way to do that cleanly within my function?

[2016-01-12 18:16] bianchimro commented on #11
Hi, great component!

Same need here: I'd need to collapse the component when clicking a button insidie `ion-pull-up-content`.
In my case the pullup contains a search form and the button should set the filter and close the pullup.

My ideas:

* introduce a service like "$ionicPullUpDelegate", behaving lilke $ionicScollDelegate
* listen to some $broadcast to close the pullup from outside (in fact,

[2016-01-15 17:14] bianchimro opened #12 "Using ng-class: ion-pull-up-handle does not change class"
Hi, great component!

I noticed an issue when using `ng-class` for setting the  class.

see this example:

http://codepen.io/bianchimro/pen/rxGjWr

if you click the button to toggle the class, the pull-handler won't follow the class change.

If you don't set an initial class on `ion-pull-up-footer` and use `ng-class` only, `ion-pull-up-handle` won't have any class set.

[2016-01-16 16:34] arielfaur commented on #5
Thanks again!

[2016-01-16 16:34] #5 closed

[2016-01-16 16:40] arielfaur commented on #11
Hi there! Thanks for your feedback. I have implemented a way to change the footer state by means of a new directive attribute that takes an expression which must resolve to the expected state:

[code]
.controller('DashCtrl', function($scope, $timeout, ionPullUpFooterState) {
      $scope.onFooterExpand = function() {
        console.log('Footer expanded');
      };
      $scope.onFooterCollapse =

[2016-01-16 18:01] arielfaur commented on #12
Yes, the handle inherits the initial bar style but it does not watch for changes. I have been playing around with your codepen but that change means a major refactor. Unfortunately I don't have time these days!

[2016-01-16 18:13] arielfaur commented on #10
This is strange. What Android version are you on? I have tested it on 4.1, 5.1 and 6.0 and never seen this problem. Maybe you can pay attention to what use case causes this behavior?

[2016-01-16 19:00] bianchimro commented on #11
hi @arielfaur,
thanks for the quick response!

This is great,
just tested and it works perfectly for me.

best regards

[2016-01-16 19:07] bianchimro commented on #12
Hi,
maybe I found i quick solution,
it sets

`'background-color' : 'inherit',`

of `ionPullUpHandle` directive.

see this pen:

http://codepen.io/bianchimro/pen/qbPYgm

I'm going to open a PR, see if you are interested in merging it.

[2016-01-17 15:30] arielfaur commented on #12
@bianchimro awesome!

[2016-01-19 05:03] AdrienDC commented on #10
Yeah it's really strange, I noticed it on a real device on android 5.1.. I'll check with genymotion if I somehow experience the same.

[2016-01-23 06:52] AdrienDC commented on #10
Hello Ariel, I think I found where it's coming from. I'm using crosswalk btw.
So the issue is poping up when I go to another tab and when I come back to the first one where is located the pull up. It seems to be located in the computeDefaultHeights function when the recomputeAlHeights is triggered. If I don't recompute defaultHeights I don't see the issue again. For example the first time I had a

[2016-01-23 16:28] arielfaur commented on #10
Thanks for such detailed information! I will look into it.

[2016-01-23 16:28] #11 closed

[2016-01-26 00:52] pliablepixels commented on #10
Yes this used to happen very often in the original version. Do you have the latest version? I believe Ariel merged changes to this - I had posted similar issues a couple of months ago and a fix was posted too.

[2016-01-27 18:19] arielfaur commented on #10
@AdrienDC I am right testing your use case on Android 4.1 with Crosswalk, and on a Nexus 7 tablet with Android 6. I am running the example project built in with the module (has tabs too). I cannot reproduce it, it seems to work just fine.
Are you sure you are using the latest version as @pliablepixels suggested? What if you try to run the example project? Do you see that behavior too?

[2016-02-02 15:48] AdrienDC commented on #10
Thanks Ariel and pliablepixel, yes I was using the last version but I'll try again on a different device

[2016-02-04 10:17] arielfaur commented on #10
@AdrienDC are you still having issues with this?

[2016-02-10 01:27] herve1976 opened #14 "How to ScrollBottom?"
Is there a way to call ScrollBottom when footer is extended?

[2016-02-10 15:49] ffabreti commented on #11
Thank you.
I have setup a codepen to ilustrate the new state attr:
http://codepen.io/ffabreti/pen/qbLNRM

[2016-02-10 16:21] ffabreti commented on #2
Yeah. +1

Also, I cannot figure it out what would be `max-height="100%"` since when I set it to 250% it grows to half the window size.

[2016-02-10 17:43] arielfaur commented on #14
Do you mean to scroll within the footer? Or the main content in the view?

[2016-02-10 19:39] ffabreti commented on #2
Nevermind!

Just read the code and figure it out that when I do `max-height="100%"` I end up getting a footer with 100px.

I have made [a pull-request for setting max-height as percentage value](url)

[2016-02-25 15:08] #10 closed

[2016-03-06 13:19] chukwu opened #16 "Autoclose"
The documentation says nothing about close/collapse method. How can i collapse the panel based on an method call from my controller.

[2016-03-06 17:17] arielfaur commented on #16
That is because this functionality is implemented in master branch but not yet built in the latest release. You can download the master branch and give it a try. Details here: #11

[2016-03-07 05:39] chukwu commented on #16
can you share a code snippet to achieve this?

[2016-03-07 13:50] arielfaur commented on #16
Have you looked at the link #11 ? There's a code snippet there and a link to a codepen example at the bottom.

[2016-03-10 14:53] jsanta opened #17 "Bottom position calculation messed up when directive used in different views"
Hi!
I have the following problem. My app has several different views where some have an additional header, and others don't.
Using the exact same code from the examples page, I'm getting different results. The ion-pull-up-footer bottom style is messed up depending on which page I visit first. Sometimes the footer get hidden far beyond sight, or gets a margin below the handle, or doesn't show the i

[2016-03-10 16:02] arielfaur commented on #17
Is there any chance you can upload the project to codepen? The module should determine the correct height but it may be that not all use cases are covered. Do you have any subheaders? I believe subheaders are not implemented yet (so far only header, tabs and footer are provided for...)

[2016-03-10 17:49] jsanta commented on #17
Sorry, cannot upload the code to codepen.
My pages do use subheaders, and just figured out what causes the problem. When you navigate in the app, nav-views are cached and included in the DOM. The .tab, .header and other lookups are  done considering the whole HTML, not just the active view, that seems to be the problem.

[2016-03-10 18:16] arielfaur commented on #17
That makes sense because I am using ```document.querySelector``` to find out whether those elements are present. Thanks for the heads up! Unfortunately I am out of time at the moment but I will try to look into it in the next few days/weeks.

[2016-03-12 16:24] MichaelApproved commented on #11
One use-case that's not covered is expanding twice in a row.

If a customer clicks expand and then manually drags to be smaller, the state will stay as expanded. That means, when you click expand again, the state won't change and the expand action won't fire.

To get around this behavior, you can set the state to an empty string and then have a fast timeout object set the state to expand. This way

[2016-03-12 16:51] #16 closed

[2016-03-14 13:04] D0rx opened #18 "Restricting gestures"
Hello and thanks for a great plugin!

I've experienced that the pullup-bar some times goes too far down when using gestures, which makes it impossible to retrieve. Is there any way to reset the bar-placement? The view the bar resides in will almost never be refreshed, so I was hoping I could control this programatically, but so far I haven't found anything.

[2016-03-14 14:02] arielfaur commented on #18
Hi @D0rx
Are you adding the pullup-bar to different views or only one view? A user has reported similar issues #17

[2016-03-14 14:10] D0rx commented on #18
Hi @arielfaur, I am adding this to one view only. I understand how I might be a bit vague with "resetting the bar placement" but what I'm trying to ask for is if it's possible to reset the bar to a collapsed state if that's the default state, minimized if that is default etc. as current behaviour in my app always keeps this bar opened between page-changes.

[2016-03-14 14:25] arielfaur commented on #18
So whenever you expand/collapse the bar it goes beyond the view boundaries. Do you have any idea when that happens? Are there any other elements in the view besides a head or subheader?

If I understand correctly you expand the footer, switch views, then go back to original view and the footer remains in the same state you left it. You want to collapse it programmatically. Is that correct?
There's

[2016-03-15 07:28] D0rx commented on #18
It doesn't necessarily go beyond the boundaries, but it goes too far down to be retrievable by either a toggle or a gesture. I guess it's worth mentioning that I don't use a handle for my bar.

It looks like the link you sent will solve this for me though. I will have a look. Thanks!

[2016-03-15 11:32] arielfaur commented on #18
Is the footer set to minimized state?

[2016-03-15 11:47] D0rx commented on #18
No, it's set to collapsed.

[2016-03-30 12:52] AdrienDC commented on #12
+1 ! nice finding @bianchimro

[2016-03-30 13:23] bianchimro commented on #12
@AdrienDC I personally never used this css rule before this ;)

[2016-03-30 13:29] AdrienDC commented on #12
same here ;P

[2016-04-18 09:21] bianchimro opened #19 "new release on bower"
Hi @arielfaur ,
it's a been a while since last release, and some interesting features has been added since then.
A new release would be cool so we can checkout the latest things directly from bower.

best regards

Mauro

[2016-04-18 09:44] bianchimro opened #20 "initial flicker"
Hi,
I noticed that at the initialization of the ui, the footer bar seems to "flicker" and doing a transition before stabilizing to initial height.
This is visible also in the demo page.

Maybe I found a quick fix, I'm going to open a PR in a moment

[2016-04-19 22:25] arielfaur commented on #19
Hi @bianchimro You mean the features in recent pull requests?

[2016-04-19 22:30] bianchimro commented on #19
@arielfaur yes, I just noticed as I was using your plugin in a new project, and the checked out version was missing the last merged features. Not a big problem, but I think they are worth a new version tag (especially the `state` scope binding).

[2016-04-19 22:34] arielfaur commented on #19
You're right, I totally forgot about the latest ```state``` scope parameter. Could you merge your pull requests? I will add you as collaborator, then I can create a new release with all your fixes.

[2016-04-19 22:38] bianchimro commented on #19
That would be great.
There should be only one PR open from me now, try and check if you can merge it as I just noticed that I deleted my fork, but the PR is still there, so maybe it can still be merged.
If this does not work let me know, so that I can re-fork and make another PR.

[2016-04-19 22:48] arielfaur commented on #19
I've seen you managed to merge. I will check it out later. Busy now :)

[2016-04-19 22:49] arielfaur commented on #19
Also, it is already midnight in Italy... still working ? :)

[2016-04-19 22:52] bianchimro commented on #19
:) ah ah ... I was just checking a mail before got to sleep (bad habit I know ...) but saw your msg, and sudden realized I made two PR for the same thing ...
... but in the end yes ... too much work anyway ;)

[2016-04-20 06:11] lync0056 commented on #11
Hi All. Great feature to be able to use footerState. Any reason you can think why it might not work inside a model? Have it working perfectly elsewhere.

Inside the model the directive 'ion-pull-up-trigger' on the ion-pullup-bar works fine. Have it going up and down. Just can't implement footerState on content elsewhere.

Cheers

[2016-04-20 11:47] arielfaur commented on #11
@MichaelApproved Thanks for the hint!

@lync0056 what do you mean by inside a model?

[2016-04-20 12:04] #20 closed

[2016-04-20 12:08] bianchimro commented on #12
I think we can close this, the use case I was using `ng-class` for is now covered by the fact that the `ion-pull-up-handle` background is inherited from its parent (`ion-pull-up-footer`) now.

[2016-04-20 12:08] #12 closed

[2016-04-20 12:14] lync0056 commented on #11
Sorry. Typo autocorrect. Modal. Not Model.

Sent from Outlook Mobile

On Wed, Apr 20, 2016 at 4:47 AM -0700, "arielfaur" <notifications@github.com> wrote:

@MichaelApproved Thanks for the hint!

@lync0056 what do you mean by inside a model?

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub

[2016-04-24 11:26] lync0056 opened #23 "footerState not working inside a Modal"
The footerState is not working inside a Modal. Any idea how to get around this?

Inside the Modal, the directive 'ion-pull-up-trigger' on the ion-pullup-bar works fine. Have it going up and down. Just can't implement footerState on content elsewhere.
![screen shot 2016-04-24 at 8 52 48 pm](https://cloud.githubusercontent.com/assets/15604237/14767190/fcd6e686-0a5e-11e6-841e-7a64018c69b1.png)

Cheer

[2016-04-24 11:51] arielfaur commented on #23
I have never tried that use case within a modal. Can you create a codepen with that code so we can test?

[2016-04-24 12:45] lync0056 commented on #23
Sorry to waste your time. It must be an issue in my private code because its working when I push it in a codepen

http://codepen.io/lync0056/pen/PNBgVb?editors=0010

[2016-04-25 22:36] #17 closed

[2016-04-25 22:47] arielfaur commented on #19
Hi @bianchimro

I have just pushed a new version to the master branch with a lot of changes. Could you please have a look at it when you have some time? I have included #21, #7 and #13 in this release. Also, I updated the module to work with Ionic 1.3 and Angular 1.5.  So this is a breaking change :)

[2016-04-26 13:21] jsanta commented on #17
Hi! Just checked out the new commits that suppose to fix this.
It doesn't work, I  notice the same problem reported earlier. I'm trying to make a query that correctly calculates the correct top position. By hand the second parameter on translate3d in some cases has to be less than the footer's defined max-height.

Looking at the examples, is there any exception where the ion-footer is defined outs

[2016-04-26 14:27] arielfaur commented on #17
Hi @jsanta
Have you checked the builtin example? I updated it to have that use case: two different views, one with tabs and another on with just a header.  And I have also changed the query strategy, I am querying for the active view. I tested it on Chrome and Safari and works on my end.  Are you sure you pulled the latest version?

[2016-04-26 14:29] bianchimro commented on #19
hi @arielfaur, this is definitely good news, will try and take a look this week.
regards
Mauro

[2016-04-26 14:42] jsanta commented on #17
Hi @arielfaur . I did the update the old way, took the new file directly from git and replaced the one I had on my project.
Maybe I'm seeing things a little too simple, the bottom offset (as I'm calling the value) should be calculated based on the ion-content (before ion-pullup) bottom position.
A much simpler approach would be adding an offset parameter, no queries or calculations involved.

I'm

[2016-04-26 14:44] arielfaur commented on #17
OK, just keep in mind that this update requires ionic 1.3 (and Angular 1.5) otherwise it won't work.
Let me know your thoughts later.

[2016-04-26 14:48] jsanta commented on #17
Forgot to mention, also updated the Ionic and Angular versions so that's not an issue ;)

[2016-04-29 22:13] bianchimro commented on #19
hi @arielfaur, just seen the release tag,
sorry I didn't manage to take a look at this issue before.

The new code looks good to me, and I really appreciate your choice to require the latest ionic and angular (1.3 and 1.5 as of now), this is also a good way to prepare for 2.0. (Any plan on this?)

Thanks for this great release!

[2016-04-29 22:13] #19 closed

[2016-05-18 07:38] AdrienDC opened #24 "IOS do not expand since last release"
HI team,
since the last release, I'm not able to expand the pullup on IOS only.
Here is my code:

`<ion-pull-up-footer class="bar-calm" on-expand="footerExpand()" on-collapse="footerCollapse()"
        on-minimize="footerCollapse()" initial-state="minimized" state="footerState" style="z-index:0">
        <ion-pull-up-handle width="100" height="25" icon-expand="ion-chevron-up" icon-collapse="ion-ch

[2016-05-18 16:09] arielfaur commented on #24
Hi @AdrienDC

Have you upgraded your project to Ionic 1.3 ? Also, what iOS version are you running?

I am right now testing it on my iPhone with iOS 9.3 and it works like a charm.

[2016-05-19 01:28] AdrienDC commented on #24
Hi Ariel,
in fact it's not directly on IOS but through Ionic View on IOS. Version 1.0.3 works perfectly but not 1.1.0

[2016-05-19 01:47] arielfaur commented on #24
I never use Ionic View so I don't know much about it. Are you sure you are running the latest Ionic 1.3 ?

[2016-05-19 02:01] AdrienDC commented on #24
Yes 100% sure ^^
Nevermind I revert back to 1.0.3, I'll try later on plain IOS.

[2016-05-19 14:52] herve1976 opened #25 "undefined is not a function (near '....component('ionPullUpContent',...')"
I am getting this error message:

TypeError: undefined is not a function (near '....component('ionPullUpContent',...'), http://192.168.0.197:8100/lib/ion-pullup.js, Line: 222

and it does not work because this issue. Any idea why?

[2016-05-19 15:20] herve1976 commented on #25
I just had to update to ionic 1.3.0

great job

[2016-05-19 15:20] #25 closed

[2016-06-24 08:34] LeVadim opened #26 "Trigger it !"
Hi! I have a situation like this, how to achieve it?

[code]

[2016-06-25 15:00] arielfaur commented on #26
Hi @LeVadim
Sorry I have updated the docs with the new parameters to control the footer with the API. Take a look [here] (http://arielfaur.github.io/ionic-pullup/). There is a section that explains how to control the footer with the API. It's quite simple, you only need to bind a variable.

[2016-06-25 15:01] arielfaur commented on #24
Did you ever solve this?

[2016-06-25 15:02] #23 closed

[2016-06-25 15:02] #18 closed

[2016-06-25 15:02] #14 closed

[2016-06-29 03:14] AdrienDC commented on #24
Hi Ariel, I haven't reupdated the lib yet but I'll keep you posted. I close it for now and reopen after in case.

[2016-06-29 03:14] #24 closed

[2016-07-08 19:52] jdnichollsc commented on #26
Thanks my friend! See my example: http://codepen.io/jdnichollsc/pen/WxkAqg?editors=1010

[2016-07-09 14:47] arielfaur commented on #26
:+1:

[2016-07-09 14:47] #26 closed

[2016-07-12 17:05] tagazok opened #27 "Any plan to make a ionic2-pullup?"
Hi,
Ionic2 is coming and I was wondering if you are working on a version of ionic-pullup for ionic2?

[2016-07-18 14:22] arielfaur commented on #27
I have already started working on a plugin version for Ionic 2. There are a few challenges on the way that I am trying to solve. I hope to come up with a first version soon :smile:

[2016-08-03 04:53] cinder92 commented on #2
Any update about this? i want to set dynamic values from my controller something like this

`max-height={{myctrl.maxHeight}}`

also in default-height please!

+1

[2016-08-12 22:40] jdnichollsc opened #28 "Ionic Pull-Down Header"
Hi my friend!

What do you think to create an Ionic Pull-Down Header to Android? For example to simulate the same functionality like this plugin, but from up to down using headers?

Thanks in advance, Nicholls

[2016-09-06 11:22] AdrienDC opened #30 "Pullup over navbar"
Hello,
I recently updated my iphone and I got an issue I didn't have before on IOS 9.3.2.
When I tap on the pullup item it goes beyond where it supposed to go, see the screenshot.

It's happening only on IOS, not Android though... Shall I play with max-height for a workaround?

Thanks !
![img_9667](https://cloud.githubusercontent.com/assets/15973554/18271885/f4cdf304-7434-11e6-8bb2-aa2d9e8742e3.PN

[2016-09-07 12:09] AdrienDC commented on #2
+1

[2016-09-12 21:43] arielfaur commented on #27
@tagazok I have uploaded a first version of ionic2 pullup to a new branch: https://github.com/arielfaur/ionic-pullup/tree/2.0

Keep in mind this is a first release, there are still some minor issues to fix but the basic functionality to expand/collapse is there. Can you give it a try? Tested on web and Android 6 so far.

[2016-09-12 21:45] arielfaur commented on #30
@AdrienDC I think you are the first one to report this. Are you still having issues?
I wonder if anybody else has experienced this. Seems to work well on my end.

[2016-09-12 21:46] arielfaur commented on #28
You could fork this one and give it a try 😉

[2016-09-12 21:53] jsanta commented on #30
Had some similar problem once, because my layout uses a double header line.
Ended adding an overrrideBottom attribute  and setting a fixed value for CSS bottom when required. A not-so-nice solution.

[2016-09-21 04:33] AdrienDC commented on #30
Hello @arielfaur ,
yes still got the problem.. It's like the height of the status bar is not included because I've tried to manually input:
`footer.height = footer.maxHeight > 0 ? footer.maxHeight : $window.innerHeight - 93 - 25`

Corresponding to the window height minus tabs height and header height.

[2016-09-21 15:09] arielfaur commented on #30
I wonder if that happens without tabs. @jsanta did your template have bottom tabs too?

[2016-09-21 15:43] jsanta commented on #30
Yes, one of my views has bottom-tabs.
The last time I messed with the code I noticed there was a slight problem with the active view selector in the plugin, haven't seen the updated version.

[2016-09-21 19:06] AdrienDC commented on #30
Just a thought, are you using StatusBar plugin?
I was wondering if StatusBar.overlaysWebView(false); has any effect.

[2016-09-21 21:44] arielfaur commented on #30
So this bug seems to appear only when adding tabs to a template.  I am not certain it makes sense at all to have a pullup together with tabs. Both Android and iOS have bottom tabs by default as of the latest version and I am not sure it is a valid use case in terms of usability to show a footer above the tabs. What do you think?

[2016-09-21 22:34] AdrienDC commented on #30
Bad news.. I think it still make sense to use it with tabs because you may want to display something temporary, for example notifications.. And it shouldn't be above tabs indeed, it should stop when reaching the tabs bar.

[2016-09-27 02:07] AdrienDC commented on #30
I had to remove 20 pixels to get it right for iOS

[2016-10-01 02:52] AdrienDC commented on #30
Now it seems to be corrected in iOS 10...

[2016-10-02 00:17] arielfaur commented on #30
I am now focused on Ionic 2 and will stop any further development of this plugin for v1. Development of plugins for v1 turned out to be very hacky in order to make it work. With Ionic 2 everything seems to run smoother!

[2016-10-24 06:25] jay8585 commented on #2
+1
I'm really looking forward to this function.

[2016-11-03 18:57] Poeticode opened #31 "ionic-content is cut off by ion-navbar"
I've placed <ion-pullup> after the <ion-content> in the example project's "item-details.html" page. This results in the text within <ion-content> being cut off by the ionic navbar. I've installed Crosswalk, and still encounter this issue.

If I take out the <ion-content> that's inside <ion-pullup>, the issue goes away, but then you can't add anything beyond the <ion-toolbar> and <ion-pullup-tab> w

[2016-11-16 23:41] arielfaur commented on #31
@Poeticode are you using ionic 1 or 2?

[2016-11-16 23:43] #27 closed

[2016-11-21 21:33] divanvb opened #32 "Can't import module"
Hi, I see you have the ionic-pullup folder in the app folder, but installed mine into node_modules and can't resolve path to import it into project. Any suggestions?

Thanks.

[2016-11-21 22:01] arielfaur commented on #32
Nobody knows how to do this. I have been struggling with that too. That's why I have included the module code inside the app folder. Perhaps someone else knows how to deal with it.

[2016-11-21 22:13] divanvb commented on #32
Ah okay, yeah I've been trying to figure it out for over 2 hours but also just ended up placing the folder inside the app folder.

A few things, importing certain modules from the folder such as IonPullUpComponent & IonPullUpTabComponent inside the desired file, doesn't really do anything I've noticed. Only importing IonPullUpFooterState was necessary. Is it safe to do so or not?

[2016-11-21 22:20] divanvb commented on #32
And is there away to remove the toolbar to only have the icon centered without any background color and simple text underneath the icon?

[2016-11-21 22:22] divanvb commented on #31
Same here, mine is also cutting off with ionic 2

[2016-11-21 22:34] arielfaur commented on #32
Yes, you can ignore the other imports if you are not using them. I am not sure what you are trying to achieve. What do you mean by removing the toolbar?

[2016-11-21 22:35] arielfaur commented on #31
@Poeticode I cannot really understand what you wrote above. It seems that you text was also cut off. Where did you place the component exactly?

[2016-11-21 22:39] divanvb commented on #32
The toolbar is currently the footer, now I want to basically remove the footer and only have the icon with a small bit of text underneath the icon, because currently the toolbar is overlapping some of my content on my page but without the toolbar I'm sure it will go away.  Now the problem is when I remove the toolbar from the HTML, it throws and error which im guessing its being used in the TS fil

[2016-11-21 22:40] divanvb opened #33 "Footer content not scrolling"
Hey man, implemented it and everything but when I cant scroll the content inside the footer.

[2016-11-21 22:43] arielfaur commented on #32
There are two components: the footer and the tab (or handle) that contains the icon. If you remove the footer that will break everything. Actually then you wouldn't need this component at all if you don't need a footer in your page.

[2016-11-21 22:44] arielfaur commented on #33
Hmmm, I tested on Android and it seemed to work fine. I will look into it whenever I find time.

[2016-11-21 22:47] divanvb commented on #33
I know it's strange and I didn't change anything, built to phone(android) but still not scrolling and not even in the browser for some reason

[2016-11-21 22:50] divanvb commented on #32
It's not that I want to remove the footer, just replace the toolbar with a <p> for example and still it have a width of 100% to be able to click on to expand the footer but I'll try work with the toolbar and see if I can hack it a bit

[2016-12-02 09:59] ipleh commented on #30
Hi!
I think there is mistake in ion-pullup.scss file.
[code]
shold be
[code]
since scroll-content is a class in div element, not an element himslef.
Hope that will help.

[2016-12-14 22:32] arielfaur commented on #30
@ipleh This thread is for the Ionic 1 version. I think you refer to Ionic 2, right?

[2016-12-15 07:36] ipleh commented on #30
Right, sorry for that.

[2017-01-12 22:48] varepato commented on #33
I'm having the same issue and also the content in home.html not showing.

[2017-01-30 14:18] kabelo38 commented on #32
if you look under node_modules/ionic-pullup/

there's a demo folder that contains example of how to implement pullup with ionic 2

[2017-01-31 11:07] m-spyratos commented on #32
#34

[2017-02-12 23:13] arielfaur commented on #32
Recently upgraded module to work with Ionic 2 final. Please take a look at the updated docs, the setup is easier now.

http://arielfaur.github.io/ionic-pullup/

[2017-02-12 23:14] arielfaur commented on #33
Can you check the new version I just uploaded? I upgraded the module to be compatible with Ionic 2 final.
Check the updated docs as the setup is different now.
http://arielfaur.github.io/ionic-pullup/

[2017-03-02 05:02] shobhitchittora opened #35 "Pullup over <ion-tabs>"
Hi all,
Can someone please help me with adding ionic-pullup over <ion-tabs>. I have a tabs layout with tabs at the bottom. and I have to show the pullup over the tabs and toggle when a backdrop is clicked. Currently the pullup goes behind the <ion-tabs> element.

[2017-03-02 18:23] arielfaur commented on #35
Is this Ionic 1 or 2?

[2017-03-03 02:58] shobhitchittora commented on #35
This is in Ionic 2.

[2017-03-03 19:15] arielfaur commented on #35
Can you create a Plunker with your code so I can test your use case?

[2017-03-20 03:47] shobhitchittora commented on #35
Hey. I was trying to make the pullup come over the `<ion-tabs>`, but finally modified my design to allow pullup to come above the `<ion-tabs>` as is the default behaviour. Additionally I'd like to contribute to the project. I have a problem with the Keyboard plugin when using `<ion-pullup>`. The pullup just scrolls up with the keyboard. I'd like to fix this in a pull request. Please guide me on th

[2017-03-21 23:14] chmdznr opened #36 "production build error on latest ionic"
ionic info:
[code]
step to reproduce:
[code]

Error messages:
[code]

package.json content:
[code]

**build --dev** on latest ionic is fine, no error whatsoever.

[2017-03-22 20:49] arielfaur commented on #36
Thanks @chmdznr. This happens since the latest update from Ionic I think.  I will look into it when I find some time.

[2017-03-24 16:05] lianesten opened #37 "ion-pullup-tab swipper is not working"
Great job!
I implemented ionic-pullup into my ionic 2 v2.2.1 application, but the ion-pullup-tab swipper is not working. I tested in android physical device, emulators and browser. Any idea why is not working?
Thanks!!

[2017-03-26 00:31] chmdznr commented on #36
Temporary fix:

1. no need to `npm install ionic-pullup --save`. If you already install it, uninstall it first.
2. download/clone the 2.0 branch repo
3. look for "**dist**" folder, you'll find all ion-pullup component source there.
4. create a new folder "**src/components/ionic-pullup/**" in your ionic project
5. now copy all files inside "**dist**" folder to your "**src/components/ionic-pullup/**

[2017-04-17 19:41] arielfaur commented on #36
I have just upgraded this module to `3.0.0`. Uninstalling the previous version and installing `3.0.0` should fix this issue.

[2017-04-17 19:41] arielfaur commented on #37
what do you mean with swipper?

[2017-04-17 19:42] #33 closed

[2017-04-17 19:42] #32 closed

[2017-04-17 19:43] #31 closed

[2017-04-17 19:53] lianesten commented on #37
@arielfaur I mean the up-down vertical gesture touching the footer tab.
Something similar to the image:
![image](https://cloud.githubusercontent.com/assets/6086119/25102309/98e5b998-237d-11e7-9218-fb2feaaf4dc4.png)

[2017-04-17 19:57] arielfaur commented on #37
Yes, it was disabled on purpose because it causes some issues. I am looking into that. In the meantime only the tap gesture works.

[2017-04-22 11:04] santony85 opened #38 "pullup over segment"
Hi ,

I have pullup over segment on top of my windows.
When i click on footer when extend it's also click the segment
button is below.

Any idea ?

Thx

[2017-05-12 13:44] payt1400 opened #39 "Close pullup with back button?"

[2017-05-17 00:22] lianesten opened #40 "ion-infinite-scroll conflicts with ion-pullup"
Ionic 2.2.1.
I am using a ion-pullup in a pageComponent and is working perfect. When I try implement an ion-infinite-scroll the ion-pullup continue working perfect, but the ion-infinite-scroll not work. If i disable the ion-pullup the infinite-scroll work perfect.
Maybe there are some overwritten code on ionic-pullup?.

[2017-06-02 19:43] arielfaur commented on #40
Hi, I have never tried the two components together on the same page. I don't have much time these days to look at every issue posted here, but if you have the code online in a Plunker or Codepen maybe I can take a look at it.

[2017-06-04 16:16] baskin commented on #36
@arielfaur, still occuring .

I'm using latest version

I get the following on running

[2017-06-05 17:48] arielfaur commented on #36
@baskin Yes, this is an issue with the latest Ionic 3 update. Every update breaks things :(
I'll have to look into this.

[2017-06-05 17:51] arielfaur commented on #39
You should be able to achieve by subscribing to the back button click event and then setting the footer state:
[code]

[2017-06-05 17:53] arielfaur commented on #38
Sorry I don't understand the problem. Can you explain?

[2017-06-20 11:37] kabelo38 commented on #36
any news?

[2017-06-23 17:14] arielfaur commented on #36
I just fixed this. Version `3.0.1` should work with a production release. Let me know!

[2017-06-23 18:01] #39 closed

[2017-06-23 18:02] #38 closed

[2017-06-23 18:26] arielfaur commented on #35
The pullup footer will be placed above the tabs by default. In any case I am not sure it is a valid use case to have both tabs and a pullup footer.
I have just tried on an Android device with the keyboard plugin. I placed input fields both on the content area and inside the footer. It seemed fine to me. Keep in mind the keyboard will shrink the content area and cause the tab bar and pullup footer

[2017-06-24 10:29] kabelo38 commented on #36
cool will test and provide feedback

Thanks alot

[2017-06-26 14:56] fedecoraglio commented on #36
I had the same issue, and now is working fine. Thanks!

[2017-07-02 23:35] jeberhardt opened #41 "'state' not a known property of 'ion-pullup'."
I'm getting the following error on Android (I haven't tested it out on iOS yet):

I had all of this working, and I'm trying to figure out what I changed.  Any thoughts?  Thanks.

Cordova CLI: 6.5.0
Ionic Framework Version: 3.0.1
Ionic CLI Version: 2.2.3
Ionic App Lib Version: 2.2.1
Ionic App Scripts Version: 1.3.0
ios-deploy version: 1.9.1
ios-sim version: 3.0.0
OS: macOS Sierra
Node Version: v6.9

[2017-07-03 17:37] arielfaur commented on #41
Can you show some code? It's hard to tell.

[2017-07-16 20:09] philipgriffin opened #42 "Can't bind to 'footer' since it isn't a known property of 'ion-pullup-tab'."
Hey I'm attempting to use this and receiving the following error:

[code]

**HTML:**
[code]
**TS:**
[code]

**Ionic info:**
[code]

[2017-07-31 22:14] philipgriffin commented on #42
Looking at the ion-pullup-tab.ts in my node_modules folder I notice it looks like this..
[code]

However the version in your plunker demo looks like this:

[code]
The version in my package.json is as follows:
`    "ionic-pullup": "^3.0.1"`

Am I using an incorrect version? I have tried uninstalling and reinstalling it to no avail.

[2017-08-04 19:02] arielfaur commented on #42
@philipgriffin You are right. The `IonPullUpTabComponent` has changed and is simply a container for the icon with some css styling applied to it to create the "tab" effect. So there is no longer a footer input property.
It's an optional component, if you remove it from the the DOM you end up with a collapsible footer without tab.
The version is correct. It seems you upgraded from an earlier versio

[2017-08-09 06:53] cysoft4 commented on #41
I experienced a similar issue and i solved it by importing the IonPullupModule in module from which I am using the pullup

[2017-08-30 07:24] naveenkumarkg19 opened #43 "How to set height dynamically"
I am using it in ionic 2 , everything works fine . but at one page i need to set it to half page of the screen . How is it possible . I was able to achieve partially by removing ion-content and placing the ion-grid . nothing seems to be perfect . any idea ?

[2017-08-31 14:04] arielfaur commented on #43
@naveenkumarkg19  You could use the `maxHeight` property:

[code]

Then in your code simply calculate the window height:
[code]

[2017-09-19 12:05] mewild commented on #42
@arielfaur

Removing `[footer]="pullup"` from the html solves the problem.

Maybe update the github page to reflect this?

[2017-10-12 07:05] Gamerakki opened #44 "Ion-pull-tab not getting detected when app release in production mode"
Hi,
Thank for making such and awesome plugin :D .
I am facing an issue when i release my app in production mode. i get and error sayin ion-pull-tab not found in all platform(ios and and android). Can u please help with this.. the is about to release but we are facing this issue.. can u help asap in this would be helpful ionic v 3.9.2

[2017-10-17 10:57] WinKyawtKhaing commented on #42
Removing [footer]="pullup" from the html solves the problem .But, it can't work with Dragging .

[2017-10-29 10:35] GeorgeRCole opened #45 "Drag event not working?"
Hi,

Can anyone confirm whether the drag event is working with this plugin?

I'm using ionic-pullup for Ionic 2 and Angular 2. When I build the demo project for ionic-pullup and run it on an android phone I cannot drag the footer up - it only responds to the tap event.

The codepen demos clearly show the drag event working for an earlier version of this plugin:
http://arielfaur.github.io/ionic-pul

[2017-11-09 07:16] IshaqBhojaniGenetech opened #46 "Not Stick to bottom"
Hi there, I'm new in Ionic 3 & trying to use this repo in my project but it shows some gap from bottom, Please check screen Shots.

Nexus 5x:

![localhost_8100_ nexus 5x](https://user-images.githubusercontent.com/31653151/32592705-d2572f66-c546-11e7-9b9a-615459187313.png)

Iphone 6:

![localhost_8100_ iphone 6 2](https://user-images.githubusercontent.com/31653151/32592708-d393ea68-c546-11e7-8e5d-6

[2017-11-12 21:13] thiphariel commented on #46
Hello. I've the same issue here. This gap happen when you had the "padding" directive to the `ion-content` of the pullup.

Any chance to avoid that behaviour without redefining the padding ourselves ?

[2017-11-17 14:50] pliablepixels opened #47 "Customizing SCSS"
Hi, thanks for this excellent library. You have a small note on your project page that says we can easily customize SCSS. Where do I customize it? I tried adding my own SCSS values in `variables.scss` but those changes were not reflected. Thanks

[2017-11-29 18:02] davidaldan opened #48 "SwipeUp and swipeDown"
Hi ... !! Thanks for share this work :)

I have a questions, why can I use swipeLeft and swipeRight on element and the others not? and if the other options are blocked How can I remove it?

My idea is just detect the SwipeUp and swipeDown to set the new this.footerState value.

Thakns.

[2017-12-12 16:00] jorgemejia commented on #37
Good component, great job!!

Is it still disabled ? It would be great if this gesture works.

[2017-12-16 17:24] vptcnt commented on #42
+1

[2018-01-02 06:28] chenyuanchn commented on #45
@GeorgeRCole  I met the same problem. Have you solved it?

[2018-01-13 16:02] GeorgeRCole commented on #45
I found a good work around by starting with Josh Morony's tutorial, which produces a pullup drawer with good swipe action. You can then add more functionality, e.g. using the ionic-pullup project for inspiration.
https://www.joshmorony.com/how-to-create-a-sliding-drawer-component-for-ionic-2/

[2018-01-13 16:02] #45 closed

[2018-01-25 13:44] mediaonegroup commented on #42
Any one are solve this problem?

[2018-01-29 17:22] arielfaur commented on #45
@GeorgeRCole Thanks for the link. I had seen that already. Unfortunately this seems quite complicated to implement with this plugin. I have been already been struggling to add drag and pan events. I hope I find a fix soon!

[2018-02-06 23:58] PandaBearz commented on #43
Thank You Some Much For This, You Saved Me So Much Time, I Just Wanted To Let You Know I Really Appreciate This Sire!

[2018-03-28 12:11] sefasaid commented on #42
Hi i solved with adding   schemas: [ CUSTOM_ELEMENTS_SCHEMA ] in app.module.ts
and added  @Input() footer: IonPullUpComponent; in home.ts just like in example it works very well

[2018-04-04 20:27] jobintweets commented on #43
Thank you so much... I have spend 3 hours googling for this....

[2018-05-16 08:54] #46 closed

[2018-06-13 10:29] firefoxpost opened #49 "Customizin"

[2018-08-09 18:56] ehorodyski commented on #49
👍 I have the same requirement, need it to display on 40% of the screen, the pull it up to expand to 100% height.

[2018-11-05 10:34] #44 closed

[2019-03-12 15:41] SaltyPotato commented on #37
Hello, I'm also interested in this feature. Is it still disabled?

[2019-12-04 09:22] jhgeluk opened #50 "Ionic 4 support"
Hi,

Will ionic 4 be supported in the future?

[2020-02-03 14:24] arielfaur commented on #50
Hi @SaltyPotato I've just pushed a new beta version to NPM with Ionic 4 support. Also, I've updated this repo with the latest source code.

[2020-02-03 14:27] arielfaur opened #51 "Add support for web components"
Generate web components from library to make ionic-pullup framework agnostic.

[2020-03-04 10:33] SaltyPotato commented on #50
When will there be a fully stable release?

[2020-03-06 21:42] arielfaur commented on #50
@SaltyPotato This beta version needs more testers. I've actually used in one project for one of my clients already in production and seems to work fine. Have you experienced any issues?

[2020-05-21 08:08] roman-rr commented on #51
@arielfaur If you need use in user frameworks, welcome to [cupertino-pane](https://github.com/roman-rr/cupertino-pane)

[2020-06-15 11:50] SENAHK opened #52 "Dynamic [minBottomVisible] causes "changes.state is undefined""
Hi,

I'm trying to make a dynamic pullup that will fit (in collapsed state) the remaining space after an img's src has loaded (it can take at least a few seconds). Currently I'm simply assigning minBottomVisible to a variable that changes when load event of img is fired.

HTML
[code]
[code]

Unfortunately, it causes an error:
[code]
Any ideas ?

[2020-06-17 15:35] arielfaur commented on #52
Hi @SENAHK, thanks for reporting this. To be honest, I haven't tested on Ionic 5 yet. I'm currently a bit overwhelmed but I'll try to look into it in the next week(s). Sorry if you needed quick response times but I'm a one-man show 😆

[2020-06-24 09:12] SENAHK commented on #52
Hey, no worries ! Thanks for your work, this ionic-pullup is very useful I must say !

[2020-08-15 15:44] mewehren opened #53 "[maxHeight] property not working."
What iam doing wrong?

HTML
<lib-ionic-pullup (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" [(state)]="footerState"
    [toolbarTopMargin]="100" [minBottomVisible]="200" [maxHeight]="getMaximumHeight()">

TS
getMaximumHeight() {
    return window.innerHeight / 2;
  }

my content still fills the entire screen

[2020-10-21 10:01] AnkitS221 opened #54 "Unable to assign dynamic value to [toolbarTopMargin] property"
![Screenshot from 2020-10-21 15-28-28](https://user-images.githubusercontent.com/37686348/96704806-1dccce80-13b2-11eb-9f0a-ff006860fb6d.png)

Hello,
Receiving above error when trying to assign a dynamic value to a [toolbarTopMargin] property.
Code in question:
1.html
<lib-ionic-pullup (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" [(state)]="footerState"
  [minBottomVisible]="minHe

[2020-10-21 14:20] arielfaur commented on #54
Hi @AnkitS221,
What happens if you assign a constant to `toolbarMargin` in `ngAfterViewInit` ?

Could you try something like
[code]

Is there still an error?

[2020-10-27 11:31] AnkitS221 commented on #54
Hi @arielfaur ,
Apologies for late reply
Yes, I have tried this and the same issue seems to occur, without even assigning a calculated value

Thanks for your reply

[2020-10-27 15:50] arielfaur commented on #54
Hmm, I'll look into it! Thanks!

[2020-10-29 16:30] arielfaur commented on #54
Hi @AnkitS221

I've just released an update that fixes this issue. Could you please check the latest release v5.0.0-beta.3? It's already on NPM.

Thanks,
Ariel

[2020-11-03 12:06] AnkitS221 commented on #54
Hi @arielfaur ,

I have tried the latest beta version and it's working fine

Thanks for your help
Great library

[2020-11-05 13:59] #54 closed

[2021-05-15 05:21] sumitkumar7275 opened #57 "Info"
Hi can I manage **[minBottomVisible]="512"** with css or scss

[2021-08-13 14:46] StefanWolf-tp opened #62 "Not a known element"
I use the latest version of release 4 (installed via: npm i ionic-pullup@4.0.0-beta.6)

But i always get the error:
[code]

So i guess something is wrong with the module registration. But i double checked it and it seems to be right in my opinion:
in the `app.module.ts` i added the import:
`import {IonicPullupModule} from 'ionic-pullup';`

and then:
[code]

Can't use the latest version cause of an

[2021-08-13 15:04] StefanWolf-tp commented on #62
I guess i got it... did some more search and finally found this:
https://forum.ionicframework.com/t/ionic4-component-not-a-known-element/153169/11?u=b5518388

i added those also to the page like explained and the app now works and renders.

now im getting the error:
[code]

 but i hope i can also figure that out

[2022-05-25 18:21] chrux opened #75 "Angular 11+ support"
Hello,

Any plans to update this package to support Angular 11+

Best regards